.container {
    width: 1260px;
    height: auto;
}
.navbar{
    width: 1250px;
    height: 67px;
}
.navbar-menu{
    margin-left: 340px;
    margin-right: 300px;
    margin-top: 32px;
}
.bar {
    display: inline-block;
    margin-right: 65px;
}
.bar-item {
    text-decoration: none;
    font-family: Roboto,sans-serif;
    color:  #16a085;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.img-main{
    width: 1260px;
    height: 790px;

}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: #373737;
    box-sizing: border-box;
    text-align: center;
    padding-top: 60px;
}
.text {
    width: 1059px;
    height: 353px;
    margin-top: 34px;
    margin-left: 113px;

}
p {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 16px;
}
button {
    width: 192px;
    height: 51px;
    background-color: #16a085;
    text-align: center;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    margin-left: 430px;
    margin-top: 51px;
    margin-bottom: 94px;
}
.footer {
    width: 1260px;
    height: 50px;

}
.footer-text {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 16px;
    margin-left: 768px;
    margin-top: 47px;

}
.content{
    background-color: #f5f6f7;
    height: 650px;
    width: 1260px;
}